<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PractiNote</title>
    <link rel="stylesheet" href="https://css.furret.dev/furretcss/v2/full/dark.min.css" />
    <style>
        a {
            text-decoration: none !important;
            margin-top: 0;
        }
        p {
            margin-bottom: 0px !important;
            margin-top: 0px !important;
        }
        h4 {
            background: none;
            padding-left: 0;
        }
        form {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <h1>Test Answers</h1>
    <p>Your score: {{score}}/10</p>
    <div style="width: 66%; margin-left: 0;">
    <form method="post" action="/new/{{testid}}">
        <input type="submit" value="Take another test">
    </form>
    <a href="/">
        <button style="width: 98%;">Go home</button>
    </a> 
    </div>
    
    {% for i in range(10) %}
    <h4>{{test['questions'][i]}}</h4>
    <p style="color: {% if test['close'][i] == True %}lightgreen{% else %}red{% endif %};">Your Answer: {{test['user_ans'][i]}}</p>
    <p>Correct Answer: {{test['answers'][i]}}</p>
    {% endfor %}
</body>
</html>