<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PractiNote</title>
    <link rel="stylesheet" href="https://css.furret.dev/furretcss/v2/full/dark.min.css" />
    <style>
        a {
            text-decoration: none !important;
            margin-top: 0;
        }
        p {
            margin-bottom: 0px !important;
            margin-top: 0px !important;
        }
        h4 {
            background: none;
            padding-left: 0;
        }
        form {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <h1>Test Answers</h1>
    <p>Your score: --/10</p>
    <div style="width: 66%; margin-left: 0;">
    <form method="post" action="new">
        <input type="submit" value="Take another test">
    </form>
    <a href="/">
        <button style="width: 98%;">Go home</button>
    </a> 
    </div>
    
    <h4>Question 1</h4>
    <p style="color: lightgreen;">Your Answer: aaaaa</p>
    <p>Correct Answer: aaaaa</p>

    <h4>Question 2</h4>
    <p style="color: red;">Your Answer: aaaaa</p>
    <p>Correct Answer: aaaaa</p>

    <h4>Question 3</h4>
    <p style="color: lightgreen;">Your Answer: aaaaa</p>
    <p>Correct Answer: aaaaa</p>


    <h4>Question 4</h4>
    <p style="color: red;">Your Answer: aaaaa</p>
    <p>Correct Answer: aaaaa</p>

    <h4>Question 5</h4>
    <p style="color: lightgreen;">Your Answer: aaaaa</p>
    <p>Correct Answer: aaaaa</p>

    <h4>Question 6</h4>
    <p style="color: red;">Your Answer: aaaaa</p>
    <p>Correct Answer: aaaaa</p>

    <h4>Question 7</h4>
    <p style="color: lightgreen;">Your Answer: aaaaa</p>
    <p>Correct Answer: aaaaa</p>

    <h4>Question 8</h4>
    <p style="color: red;">Your Answer: aaaaa</p>
    <p>Correct Answer: aaaaa</p>

    <h4>Question 9</h4>
    <p style="color: lightgreen;">Your Answer: aaaaa</p>
    <p>Correct Answer: aaaaa</p>

    <h4>Question 10</h4>
    <p style="color: red;">Your Answer: aaaaa</p>
    <p>Correct Answer: aaaaa</p>
</body>
</html>