<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PractiNote</title>
    <link rel="stylesheet" href="https://css.furret.dev/furretcss/v2/full/dark.min.css" />
    <script src="/static/loading_handler.js"></script>
    <style>
        a {
            text-decoration: none !important;
        }
    </style>
</head>
<body>
    <h1>Upload File</h1>
    <br>
    <form method="post" action="file-intermediary" enctype="multipart/form-data">
        <label for="file">Upload File:</label>
        <input id="file" type="file" name="file" placeholder="Upload a file..." accept=".doc,.docx,.pdf,.txt,.rtf">
        <br>
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" placeholder="Enter a name...">
        <br>
        <label for="questions">Number of Questions:</label>
        <input id="questions" type="number" name="questions" placeholder="Number of questions to generate..." value="10"> 
        <button style="width: 100%;">Import</button>
    </form>
</body>
</html>