<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PractiNote</title>
    <link rel="stylesheet" href="https://css.furret.dev/furretcss/v2/full/dark.min.css" />
    <script src="/static/loading_handler.js"></script>
</head>
<body>
    <h1>Login/Signup</h1>
    <p>If you don't have an account, one will be created for you.</p>
    <br>
    <form method="post" action="login">
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" placeholder="Enter a username...">
        <br>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Enter a password...">
        <br>
        <button style="width: 100%;">Login/Signup</button>
    </form>
</body>
</html>