<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PractiNote</title>
    <link rel="stylesheet" href="https://css.furret.dev/furretcss/v2/full/dark.min.css" />
    <style>
        a {
            text-decoration: none !important;
        }
    </style>
</head>
<body>
    <h1>Practice Test</h1>
    <p>Your progress will not be saved until you hit submit.</p>
    <br>
    <form method="post" action="/test/{{testid}}">
        <input type="hidden" name="testId" value="{{ testid }}">

        {% for i in range(10) %}
        <label for="{{i+1}}">{{ test['questions'][i] }}</label>
        <input id="{{i+1}}" type="text" name="{{i+1}}" placeholder="Enter your answer..."><br>
        {% endfor %}
        <br>
        <p>Note: The page may take time to load. Don't close the tab.</p>
        <button style="width: 100%;">Submit</button>
    </form>
</body>
</html>