<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PractiNote</title>
    <link rel="stylesheet" href="https://css.furret.dev/furretcss/v2/full/dark.min.css" />
    <style>
        a {
            text-decoration: none !important;
        }
    </style>
</head>
<body>
    <h1>Practice Test</h1>
    <p>The questions, answers, and your progress will not be saved until you hit submit.</p>
    <br>
    <form method="post" action="test">
        <input type="hidden" name="testId" value="">

        <label for="1">Question 1</label>
        <input id="1" type="text" name="1" placeholder="Enter your answer..."><br>

        <label for="2">Question 2</label>
        <input id="2" type="text" name="2" placeholder="Enter your answer..."><br>

        <label for="3">Question 3</label>
        <input id="3" type="text" name="3" placeholder="Enter your answer..."><br>

        <label for="4">Question 4</label>
        <input id="4" type="text" name="4" placeholder="Enter your answer..."><br>

        <label for="5">Question 5</label>
        <input id="5" type="text" name="5" placeholder="Enter your answer..."><br>

        <label for="6">Question 6</label>
        <input id="6" type="text" name="6" placeholder="Enter your answer..."><br>

        <label for="7">Question 7</label>
        <input id="7" type="text" name="7" placeholder="Enter your answer..."><br>

        <label for="8">Question 8</label>
        <input id="8" type="text" name="8" placeholder="Enter your answer..."><br>

        <label for="9">Question 9</label>
        <input id="9" type="text" name="9" placeholder="Enter your answer..."><br>

        <label for="10">Question 10</label>
        <input id="10" type="text" name="10" placeholder="Enter your answer..."><br>

        <button style="width: 100%;">Submit</button>
    </form>
</body>
</html>